*{
    margin: 0;
    padding: 0;
    /* line-height: 1.1; */
}

body{
    margin: 5em;
    font-family: sans-serif;
}

section{
    padding: 5em;
    background-color: rgba(25, 25, 112, 0.5);
    border-radius: 50px;
    flex-wrap: wrap;
}

.flexbox{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-bottom: 2em;
    align-content: stretch;
    /* margin: 2em; */
    flex-wrap: wrap;
}

h1{
    font-size: 3em;
    line-height: 2;
}

h2{
    font-size: 2em;
    line-height: 1.5;
}

h3{
    font-size: 1.5em;
    line-height: 1.5;
}
a, .card-frame{
    margin-top: 2em;
    padding: 3em;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 50px;
    /* background-color: rgba(103, 174, 244, 0.3); */
    background-color: rgba(240, 248, 255, 0.6);
}

.card{
    min-width: 250px;
    height: 100%;
}

.progress{
    font-size: 3em;
    font-style: italic;

}

img{
    max-height: 250px;
}

.title{
    text-transform: uppercase;
}