@import url('https://fonts.googleapis.com/css2?family=Tahoma,wght@1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    text-align: center;
}

h1{
    background: linear-gradient(#00000070, #00000030);
    padding: 20px 0px;
    margin: 0 !important;
    text-shadow: 3px 3px 3px #00000070, 3px 3px 14px #00000010 ;
}

h3, h4, p{
    text-align: left;
}

h4::before{
    content: "";
}

p{
    margin: 0;
}

button{
    padding: 5px;
    /* margin: 0.5em 5px; */
    margin: 0.5em 5px;
    border-radius: 25%;
}

.center
{
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.micro,
.micro a,
footer {
    font-size: 2px;
    opacity: 10;
    color: currentColor;
}

.heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.work-projects .card__background {
    /* background-image: url("https://uploads-ssl.webflow.com/630326c72ea56e251c34f9d3/63d3c4c08758931340a09f9f_Group%20103.svg"); */
   min-height: 300px;
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: cover;
    background-attachment: fixed;
}

.work-projects .card__background{
    max-height: 300px;
  }

  .card-big{
    min-height: 300px;
}